@page
@model IndexModel
@{
    ViewData["Title"] = "Azure Demo";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Azure Practice Session <br /> This is my first Azure app</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
